@model IEnumerable<CNPM.Models.ThuKho>

@{
    ViewData["Title"] = "Thông Tin Thủ Kho";
}

<h1>Danh sách thủ kho</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="~/css/Table.css">
<div class="table-users">
    <div class="header">Sinh Viên</div>

    <table cellspacing="0">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnhDaiDien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNguoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNguoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.AnhDaiDien != null)
                    {
                        <img src="~/@item.AnhDaiDien" alt="Ảnh đại diện" class="img-fluid image-limited" />
                    }
                    else
                    {
                        <img src="~/images/icons/user.ico" alt="Ảnh đại diện" class="img-fluid image-limited" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNguoiDung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNguoiDung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GioiTinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>
                <td>
                    @if (User.IsInRole("ad"))
                    {
                        <div>
                            <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
</div>
