@model CNPM.Models.ThietBi

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Thiết bị</h4>
    <hr />
    <link href="~/css/details.css" rel="stylesheet" />
    <div class="table">
        <section>
    <details class="card" open>
        <summary class="property lightblue">
            <span class="eyebrow">Chi tiết thiết bị</span>
            @Html.DisplayFor(model => model.MaThietBi)
        </summary>
        <div class="priceTable">
                    <div class="qty">@Html.DisplayNameFor(model => model.MaThietBi):</div><div class="price">@Html.DisplayFor(model => model.MaThietBi)</div>
                    <div class="qty">@Html.DisplayNameFor(model => model.TenThietBi):</div><div class="price">@Html.DisplayFor(model => model.TenThietBi)</div>
                    <div class="qty">@Html.DisplayNameFor(model => model.LoaiThietBi):</div><div class="price">@Html.DisplayFor(model => model.LoaiThietBi.TenLoaiThietBi)</div>
                    <div class="qty">@Html.DisplayNameFor(model => model.NhaSanXuat):</div><div class="price">@Html.DisplayFor(model => model.NhaSanXuat)</div>
                    <div class="qty">@Html.DisplayNameFor(model => model.TinhTrang):</div><div class="price">@Html.DisplayFor(model => model.TinhTrang.TenTinhTrang)</div>
        </div>
    </details>
    </section>
    </div>
    <form asp-action="Delete" id="FForm" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="button" value="Xóa" class="btn btn-danger" onclick="return showModal()" /> |
        <a asp-action="Index">Trở về danh sách</a>
    </form>
    <div id="confirmDeleteModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn không?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close">Hủy</button>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete()">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>
